.content {
  display: flex;
  margin-left: auto;
}
.text {
  display: flex;
  max-width: 616px;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 8vw;
}
.maintagline {
  align-self: start;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 52px;
  font-weight: 400;
}
.tagline2 {
  margin-top: 5vw;
  line-height: 2.45vw;
  font-size: 19px;
}
.feel {
  color: rgba(0, 0, 0, 0.85);
  font-family: montserrat, Kaisei Tokumin, sans-serif;
  align-self: start;
  flex-grow: 1;
}
.sync {
  color: #0096c7;
  font-family: montserrat, Kaisei Tokumin, sans-serif;
  flex-grow: 1;
}
.play {
  color: rgba(0, 0, 0, 0.85);
  font-family: montserrat, Kaisei Tokumin, sans-serif;
  align-self: start;
  flex-grow: 1;
}

.camera {
  display: flex;
  flex-direction: column;
  margin: 10vw 7vw;
  border-radius: 25px;
  border: 1px white;
  background: linear-gradient(
    135deg,
    rgba(120, 160, 205, 0.8) 0%,
    rgba(161, 216, 221, 0.8) 100%
  );
}
.smile {
  justify-content: center;
  margin: 1vw auto;
  font-family: montserrat, Kaisei Tokumin, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: rgb(74, 74, 74);
}
.opencamera {
  height: 300px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
  margin: 2vw auto;
  border-radius: 12px;
  text-align: center;
}
.start {
  margin: 10px;
  justify-content: center;
  margin: auto;
  display: flex;
  gap: 5vw;
}
.startbutton {
  width: 10vw;
  height: 50px;
  border: #0a9396 2px solid;
  border-radius: 5px;
  text-align: center;
  font-family: montserrat;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
  background-color: #0077b6;
  color: white;
  margin: 50px auto 60px;
}

.startbutton:hover {
  background-color: #a2d2ff;
  color: aliceblue;
}
.heroimages {
  display: flex;
  flex-direction: column;
}
.theimage {
  width: 25vw;
  margin: -28vw auto auto 11vw;
}
.rectangle {
  width: 25.5vw;

  margin: 6.5vw auto auto 16vw;
}
#webcam-container {
  width: 100%;
  height: 50vh;
  display: flex;
}

#webcam-video {
  justify-content: center;
  display: flex;
  /* border: 5px solid green; */
  height: 50vh;
  margin: auto;
}
